.toast_container {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 350px;
  padding: 0.5rem;
  z-index: 999999;
  border-radius: 0.5rem;
  background-color: #115153;
  border: solid 1px #ccc;
}

.toast_message {
  color: antiquewhite;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .toast_container {
    width: 80%;
    top: 0;
    right: 10%;
    left: 10%;
  }
}
