*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, textarea{
  outline: none;
  border: none;
  font-family: 'Lexend Deca', sans-serif;
}

:root {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
